services:
  mlnode-308:
    build:
      context: ../../mlnode
      dockerfile: packages/pow/Dockerfile.cpu
    hostname: mlnode-308
    volumes:
      - /root/.cache:/root/.cache
    environment:
      - HF_HOME=/root/.cache
      - SPOOF_GPU_NAME=${SPOOF_GPU_NAME}
      - NOVITA_API_KEY=${NOVITA_API_KEY}
      - PROXY_MODEL_MAPPING=${PROXY_MODEL_MAPPING}
    command: uvicorn api.app:app --host=0.0.0.0 --port=8080
    restart: always

  inference:
    image: nginx:1.28.0
    hostname: inference
    ports:
      - "${PORT:-8080}:8080"
      - "${INFERENCE_PORT:-5050}:5000"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    restart: always
